extends layout

block content
  #banner.page-header
    .row
        .col-lg-8
            h1=pageHeader.title
                small &nbsp; #{pageHeader.strapLine}
  .row
    .col-xs-12.col-sm-8
        .row
          .col-xs-12
          p=error
        .row
          .col-xs-6
            a.btn(href='/addNewStock').btn-default.btn-primary Add New Stock
          .col-xs-6
        .row.list-group
            .col-xs-12
              h4.row
                .col-xs-4
                  p Stock Name
                .col-xs-2
                  p Last Price
                .col-xs-2
                  p 52wk High
                .col-xs-2
                  p 52wk Low
                .col-xs-2
                  p Volume    
        each stock in stocks 
          .row.list-group
              .col-xs-12
                .row
                  .col-xs-4
                    a(href="/stock/"+stock._id)=stock.stockName
                  .col-xs-2
                    p=stock.currPrice
                  .col-xs-2
                    p=stock.wkHigh52
                  .col-xs-2
                    p #{stock.wkLow52}
                  .col-xs-2
                    p #{stock.volume} 
                .row
                  .col-xs-6
                     each item in stock.category
                      span.label.label-warning=item   
                      | &nbsp;
                  .col-xs-6                                                               
    .col-xs-12.col-sm-4
        p Ads Section
