extends layout

block content
  #banner.page-header
    .row
        .col-xs-8
            h3=title
    .row
        .col-xs-12
        -if(error=='val')
            .alert.alert-danger(role="alert") All fields required, please try again.
    .row
        .col-xs-12
        form.form-horizontal#updateStock(action="/updateStock/#{_id}",method="post",role="form")
            input(type="hidden",name="method",value="PUT")
            .form-group
            label.col-xs-10.col-sm-2.control-label(for="name") Stock Name
            .col-xs-12.col-sm-4
                input#stockName.form-control(name="stockName",value="#{stockName}")
            label.col-xs-10.col-sm-2.control-label(for="code") Stock Code
            .col-xs-12.col-sm-4
                input#code.form-control(name="stockCode",value=stockCode)
            
            .form-group
            label.col-xs-10.col-sm-2.control-label(for="volume") Volume
            .col-xs-12.col-sm-4
                input#volume.form-control(name="volume",value=volume)
            label.col-xs-10.col-sm-2.control-label(for="currPrice") Last Price
            .col-xs-12.col-sm-4
                input#currPrice.form-control(name="currPrice",value=currPrice)
            
            .form-group
            label.col-xs-10.col-sm-2.control-label(for="wkHigh52") 52-Week High
            .col-xs-12.col-sm-4
                input#wkHigh52.form-control(name="wkHigh52",value=wkHigh52)
            label.col-xs-10.col-sm-2.control-label(for="wkLow52") 52-Week Low
            .col-xs-12.col-sm-4
                input#wkLow52.form-control(name="wkLow52",value=wkLow52)            
            
            .form-group
            label.col-xs-10.col-sm-2.control-label(for="industry") Industry
            .col-xs-12.col-sm-4
              select(name="industry")
                -industries=['(None)','Large-cap','Mid-cap','Small-cap']
                for item in industries
                  option(selected=industry==item) #{item}

            label.col-xs-10.col-sm-2.control-label(for="sector") Sector
            .col-xs-12.col-sm-4
              select(name="sector")
                -sectors=['(None)','Automobiles','Banking','Capital Goods','Finance','Infrastructure','IT Sector','Mining','Pharmaceuticals','Textiles']
                for item in sectors
                  option(selected=sector==item) #{item}
              
            .form-group
            .col-xs-12
              button.btn.btn-default.btn-success.pull-right Update Stock