extends layout

include _includes/sharedHTMLFunctions

block content
  .row.page-header
    .col-xs-12
      h1=stockName
  .row
    .col-xs-12.col-md-8
      .row
        .col-xs-12
          .panel.panel-primary
            .panel-heading
              h3.panel-title Stock Information
            .panel-body
              p Last Traded Price : #{currPrice}
              p 52-Week High: #{wkHigh52}
              p 52-Week Low: #{wkLow52}
              p Volume: #{volume}
      .row
        .col-xs-12
          .panel.panel-primary
            .panel-heading
              h3.panel-title Stock Categorization
            .panel-body
              each item in category
                span.label.label-warning #{item} 
                | &nbsp;  
    .col-xs-12.col-md-4
      p Image section
  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          h3.panel-title Stock reviews
          a#reviewBtn.btn.btn-default.pull-right(href="/stock/#{_id}/addReview") Add Review
        .panel-body.review-container
          each review in reviews
            .row
              .review
                .well.well-sm.review-header
                  span.reviewAuthor #{review.author}
                  span.reviewTimestamp
                    +formatDate(review.createdOn)
                .col-xs-12
                  p !{(review.comment).replace('/\n/g','<br/>')}

 

